
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #120099;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.container {
  background-color: #00aaff;
  height: 75vh;
  width: 70vw;
  display: grid;
  place-content: center;
  border-radius: 10px;
}

.table {
    background-color: #CCFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}

.cell {
  font-size: 60px;
    height: 3em;
    width: 3em;
    background-color: #CCEEFF;
    display: grid;
    place-content: center;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
}

.cell:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
  .cell {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .cell {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .cell {
    font-size: 20px;
  }
}


